﻿@using Web.App.Extensions
@model Web.Models.Transaction.CreateTransactionModel

@{
    ViewBag.Title = "Создание транзакции";
}

<h2>Создание транзакции</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    if (Model.recipients.Any())
    {
        <div class="col-md-push-2">
            <div class="form-group row">
                <label for="@Html.IdFor(m => m.recipients)" class="control-label col-md-2 label-align">Получатель</label>
                <div class="col-md-9 ">
                    @Html.DropDownListFor(m => m.SelectedrecipientId, new SelectList(Model.recipients, "Id", "FullName"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="@Html.IdFor(m => m.Sum)" class="control-label col-md-2 label-align">Сумма</label>
                <div class="col-md-9">
                    @Html.TextBoxFieldFor(m => m.Sum)
                </div>
            </div>
            <input type="submit" class="btn btn-default" value="Создать" />
        </div>
    }
    else
    {
        <div>К сожалению, на данный момент в системе, кроме Вас, нет пользователей. Подождите, пока зарегистрируются новые пользователи.</div>
    }
}