﻿@using Web.App.Extensions
@using Web.Models.Account

@model LoginModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="col-md-push-2">
        <div class="form-group row">
            <label for="@Html.IdFor(m => m.Email)" class="control-label col-md-2 label-align">Email</label>
            <div class="col-md-9 ">
                @Html.TextBoxFieldFor(m => m.Email)
            </div>
        </div>
        <div class="form-group row">
            <label for="@Html.IdFor(m => m.Password)" class="control-label col-md-2 label-align">Пароль</label>
            <div class="col-md-9">
                @Html.PasswordFieldFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <input type="submit" class="btn btn-default" value="Войти" />
    </div>

}
