﻿@using Web.App.Extensions
@using Web.Models.Account

@model RegisterModel
    
<div>
    @using (Html.BeginForm())
    {
        @*@Html.ValidationSummary(false)*@
        <div class="col-md-push-2">
            <div class="form-group row">
                <label for="@Html.IdFor(m => m.FirstName)" class="control-label col-md-2 label-align">Имя</label>
                <div class="col-md-9 ">
                    @Html.TextBoxFieldFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="form-group row">
                <label for="@Html.IdFor(m => m.LastName)" class="control-label col-md-2 label-align">Фамилия</label>
                <div class="col-md-9">
                    @Html.TextBoxFieldFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </div> 
            </div>
            <div class="form-group row">
                <label for="@Html.IdFor(m => m.Email)" class="control-label col-md-2 label-align">Email</label>
                <div class="col-md-9">
                    @Html.TextBoxFieldFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group row">
                <label for="@Html.IdFor(m => m.Password)" class="control-label col-md-2 label-align">Пароль</label>
                <div class="col-md-9">
                    @Html.PasswordFieldFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-group row">
                <label for="@Html.IdFor(m => m.ConfirmPassword)" class="control-label col-md-2 label-align">Повторите пароль</label>
                <div class="col-md-9">
                    @Html.PasswordFieldFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <input type="submit" class="btn btn-default" value="Зарегистрироваться" />
        </div>
    }
</div>