﻿@using Common
@using Services.Interfaces
@using Web.App
@model IEnumerable<Data.Entities.Transaction>
    
@{
    var user = CurrentUser.Get();
    var isAutentificated = !user.IsAnonymous();
    var userService = ServiceLocator.Get<IUserService>();
}

<style>
    td {
        padding: 5px 50px 0 0 !important;
    }
</style>

@if (isAutentificated)
{
    <br />
    <h3>
        @Html.ActionLink("Создать транзакцию", "CreateTransaction", "Transaction")
    </h3>
    <br />
    if (Model.Any())
    {
        <table>
            <thead>
                <tr style="font-size:16px;">
                    <td>Дата создания</td>
                    <td>Отправитель</td>
                    <td>Получатель</td>
                    <td>Сумма перевода</td>
                    <td>Баланс</td>
                </tr>
            </thead>
            @foreach (var transact in Model.OrderByDescending(t => t.CreatedAt))
            {
                <tr>
                    @{
                        var recipient = userService.GetUserById(transact.RecipientId);
                        var respondent = userService.GetUserById(transact.SenderId);
                    }
                    <td>@transact.CreatedAt</td>
                    <td>@respondent.FullName</td>
                    <td>@recipient.FullName</td>
                    @if (user.Id == transact.RecipientId)
                    {
                        <td>+ @transact.Sum</td>
                        <td>@transact.RecipientBalanceAfter</td>
                    }
                    else
                    {
                        <td>- @transact.Sum</td>
                        <td>@transact.SenderBalanceAfter</td>
                        <td>@Html.ActionLink("Повторить", "CopyTransaction", "Transaction", new { transactId = transact.Id }, null)</td>
                    }

                </tr>
                        }
        </table>
                        }
                        else
                        {
                            <div>
                                Не совершено ни одной операции
                            </div>
                            }
                        }
                        else
                        {
                            <div style="padding-top: 20px;">Для начала работы необходимо @Html.ActionLink("зарегистрироваться", "Register", "Account")</div>
                        }
