﻿@using Web.App

@{
    var user = CurrentUser.Get();
    var isUserAuthenticated = !user.IsAnonymous();
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Virtual Money", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse nav">
            <ul class="nav navbar-nav navbar-right">
                @if (isUserAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            @user.FullName<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @Html.ActionLink("Выход", "Logout", "Account")
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Баланс: @user.Balance </a>
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink("Регистрация", "Register", "Account")
                    </li>
                }
            </ul>
        </div>
    </div>
</div>